.form {
  background-color: color(dark, "grey");
  padding: 1.5rem;
  width: 400px;
  border-radius: 0.4rem;
}

.form-field {
    margin-bottom: .5rem;
}

.label {
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.2rem;
}

.input {
  font-size: 0.95rem;
  display: block;
  background-color: transparent;
  border: 0.1rem solid color("light", "grey");
  color: color("light", "white");
  width: 100%;
  padding: 0.4rem 0.8rem;
  border-radius: 0.3rem;

  &:focus,
  &:active {
    border-bottom-color: color("brand", "yellow");
  }
}

.error {
  font-size: 0.9rem;
  margin: 0.25rem 0;
  color: color("brand", "yellow");
}

.form-bottom-btn {
    margin-top: .5rem;
}

.loader-btn {
  filter: contrast(85%);
  svg {
    animation: loaderIcon 1.8s infinite linear;
  }

  span {
    &::after {
      display: inline-block;
      text-align: left;
      width: 1rem;
      animation: loaderText 1.8s infinite linear;
      content: "...";
    }
  }
}

@keyframes loaderIcon {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes loaderText {
  0% {
    content: "";
  }

  25% {
    content: ".";
  }

  50% {
    content: "..";
  }

  75% {
    content: "...";
  }
}
