@import "variables.scss";
@import "forms.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

::selection {
  background: rgba(color("brand", "yellow"), 0.6);
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: color("dark", "black");
  color: color(light, "white");
}

main {
  margin: 0 1rem;
  margin-top: $nav-height;
  height: calc(100vh - #{$nav-height});
}

.text-center {
    text-align: center;
    display: block;
}

.link {
    color: color(brand, "yellow");
}

.center {
  position: relative;
  display: flex;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.two-column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100%;
}

h2 {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  color: color(brand, "yellow");
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

.button,
.icon-button {
  border: none;
  color: white;
  cursor: pointer;

  &.red {
    background-color: color(brand, "red");
  }

  &.yellow {
    background-color: color(brand, "yellow");
  }

  &.grey {
    background-color: color("light", "light-grey");
  }
}

.button {
  font-size: 1em;
  padding: 0.5em 0.9em;
  border-radius: 0.5rem;
  user-select: none;
  height: 2.2em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  & svg {
    max-height: 2em;
    margin-right: 0.2em;
    padding: 0.3em 0;
  }
}

.icon-button {
  height: 1.1rem;
  width: 1.1rem;
  border-radius: 50%;

  svg {
    padding: 0.2rem;
    height: 100%;
  }
}

.bg-grey {
  background-color: rgba(color("dark", "grey"), 0.5);
}
