@import "variables.scss";

.nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: $nav-height;
  padding: 0 2rem;
  background-color: color("dark", "grey");

  @media screen and (max-width: breakPoint("sm")) {
    &.active {
      .menuIcon {
        display: none;
      }
      & .closeIcon {
        display: block;
      }

      .navMenu {
        transform: translateX(-$nav-width);
      }
    }
  }
}

.brandIcon {
  display: block;
  height: calc(100% - 1rem);
  color: color(brand, "yellow");
  margin-left: 0.3rem;
  cursor: pointer;
}

.menuIcon,
.closeIcon {
  color: white;
  height: calc(100% - 1rem);
  cursor: pointer;
  transition: color $animation-time ease-out;

  &:hover {
    color: color(brand, "yellow");
  }

  @media screen and (min-width: breakPoint(sm)) {
    display: none;
  }
}

.closeIcon {
  display: none;
}

.navMenu {
  display: flex;
  list-style-type: none;

  @media screen and (max-width: breakPoint(sm)) {
    position: fixed;
    right: -$nav-width;
    top: $nav-height;
    width: $nav-width;
    height: 100%;
    flex-direction: column;
    background-color: color(dark, "grey");
    transition: transform $animation-time ease-out;
  }
}

.navItem {
  font-size: 1.1rem;
  margin: 0.8rem 2rem;

  @media screen and (min-width: breakPoint(sm)) {
    margin: 1rem;
  }
}

.navLink {
  display: flex;
  align-items: center;
  color: color(light, "white");
  text-decoration: none;
  position: relative;
  transition: color $animation-time ease-out;

  &:hover {
    color: color(brand, "yellow");
  }
}
