@import "variables.scss";

.rowsWrapper {
    max-height: 40vh;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.buttonWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.8rem;
}