$nav-height: 40px;
$nav-width: 250px;
$animation-time: 0.2s;

$colors: (
  "dark": (
    "black": #0f1a20,
    "grey": #132229,
  ),
  "light": (
    "grey": #233741,
    "light-grey": #4e5f66,
    "white": #e1e1e1,
  ),
  "brand": (
    "red": #d62828,
    "orange": #f77f00,
    "yellow": #fcbf49,
  ),
);

@function color($color, $tone: "base") {
  @return map-get(map-get($colors, $color), $tone);
}

$break-points: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
);

@function breakPoint($size) {
  @return map-get($break-points, $size);
}
