@import "variables.scss";

.probabilityInput {
  position: relative;
  & input {
    padding-right: 2.8rem;
  }
  &::after {
    position: absolute;
    content: "%";
    top: 0;
    right: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 2rem;
    background-color: color("light", "grey");
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}

.row,
.inputRow {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 0.7rem;
}

.inputRow {
  margin-top: 0.6rem;
  padding: 0.5rem 1rem;
  background-color: rgba(color(light, "grey"), 0.25);
  border-radius: 0.4rem;
}

.removeRowBtn {
  position: absolute;
  top: 0.4rem;
  right: 0.5rem;
  background: rgba(color("brand", "yellow"), 0.15);
  height: 1.3rem;
  width: 1.3rem;
  transition: background-color $animation-time ease-out;

  svg {
    padding: 0.3rem;
  }

  &:hover {
    background-color: rgba(color("brand", "yellow"), 0.5);
  }
}
