@import "variables.scss";

$bottom-bar-height: 50px;

.wheelWrapper {
  position: relative;
  height: calc(100% - #{$bottom-bar-height});
}

.wheel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  background: color(brand, "yellow");

  transition: all 5s ease-out;
  animation-fill-mode: forwards;
  animation-timing-function: linear;

  &.spinning {
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0.44, -0.205, 0, 1.13);
    animation-name: spinning;
  }

  &:before {
    content: "";
    text-align: center;
    display: block;
    line-height: 60px;
    position: absolute;
    height: 40px;
    width: 40px;
    background: #fff;
    box-shadow: 0 0 5px 5px rgba(#000, 0.1);
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 100%;
    z-index: 200;
  }
}

.wheelPart {
  position: absolute;
  left: 50%;
  text-align: right;
  color: transparent;
  padding-right: 10px;
  display: block;
  transform-origin: left center;

  &:before,
  &:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
  }

  &:before {
    position: absolute;
    top: 50%;
  }

  &:after {
    position: absolute;
    top: 50%;
    transform-origin: left bottom;
  }
}

.label {
  position: absolute;
  z-index: 100;
  user-select: none;
  top: 0;
  bottom: 0;
  width: 40%;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 16px;
  text-align: right;
  padding-left: 20px;
  color: #003049;
}
